*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
    
}
 .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
 }
   .menu a{
     color: #000000;
    text-decoration: none
   }

   
 
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 120px;

 }
 
 .btn{
   
   
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border-color: none;
    font-size: 16px;
    color: white;
   font-weight: bold;
   cursor: pointer;
   flex-direction: row;
   
   
 }
 .banner{
 
  justify-content: center;
  align-items: center;
  height: 674px;
  padding: 70px 120px 134px 120px;
  background:url(../assets/hero-bg.png) ;
  background-repeat: no-repeat;
  display: flex;
  width: 1707px;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
 }
 .banner-content{
  max-width:85%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;


 }
 .banner-content h1{
  color: #FFFFFF;
  font-size: 72px;
  font-style:Bold;
  text-align: center;
  max-width: 1360px;
 }
 .badge{
  color: #30B868;
 }
 .banner-status{
  justify-items: center;
  font-size: 16px;
  color: #30B868;
  background-color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 16px;
  
  
 }
 .banner p{
  font-size: 18px;
  
  margin-bottom: 32px;
  text-align: center;
  line-height: 24px;
  
 }
 .button{
  
  gap: 16px;
  justify-items: center;
  
 }
 .new{
   padding: 12px 16px;
    background:transparent;
    border-radius: 4px;
    border-color: #FFFFFF;
    font-size: 16px;
    color: white;
   font-weight: bold;
   cursor: pointer;
   flex-direction: row;
  

 }
 