*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
    
}
 .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
 }
   .menu a{
     color: #000000;
    text-decoration: none
   }

   
 
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 120px;

 }
 
 .btn{
   
    width: 164px;
    height: 44px;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    color: white;
   font-weight: bold;
   cursor: pointer;
   flex-direction: row;
   
 }
 