*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFFFFF;
    
}
 .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
 }
   .menu a{
     color: #000000;
    text-decoration: none
   }

   
 
 nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 120px;

 }
 
 .btn{
   
   
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border-color: none;
    font-size: 16px;
    color: white;
   font-weight: Semi-Bold;
   cursor: pointer;
   flex-direction: row;
   
   
 }
 .banner{
 
  justify-content: center;
  align-items: center;
  height: 674px;
  padding: 70px 120px 134px 120px;
  background:url(../assets/hero-bg.png) ;
  background-repeat: no-repeat;
  display: flex;
  width: 1707px;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
 }
 .banner-content{
  max-width:85%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;


 }
 .banner-content h1{
  color: #FFFFFF;
  font-size: 72px;
  font-style:Bold;
  text-align: center;
  max-width: 1360px;
  margin: 16px 0;
 }
 .badge{
  color: #30B868;
 }
 .banner-status{
  justify-items: center;
  font-size: 16px;
  color: #30B868;
  background-color: #FFFFFF;
  padding: 8px 12px;
  border-radius: 20px;
  
  
  
 }
 .banner p{
  font-size: 18px;
  
  margin-bottom: 32px;
  text-align: center;
  line-height: 24px;
  
 }
 .button{
  
  gap: 16px;
  justify-items: center;
  
 }
 .new{
   padding: 12px 16px;
    background:transparent;
    border-radius: 4px;
    border-color: #FFFFFF;
    font-size: 16px;
    color: white;
   font-weight: semi-bold;
   cursor: pointer;
   flex-direction: row;
  

 }
 .section-heading{
  text-align: center;
  margin: 0 auto;
 }
 .section-heading h2{
  font-size: 48px;
  font-style: bold;
  color: #001931;
  margin-top: 16px;
  line-height: auto;
 }
 .section-heading p{
  font-size: 16px;
  font-style: regular;
  margin-top: 16px;
  line-height: 20px;
  color: #627382;
 }
 #skills .skills-container{
width: 85%;
max-width: 1360px;
margin: 0 auto;
padding-top: 24px;
 }
 .skill-box{
  display: flex;
  gap: 24px;
  margin-top: 44px;
 }
 .skill-box .skill-card{
  padding: 24px;
  max-width: 322px;
  text-align: center;
  box-shadow: 0 0 8px 0 #00000027;
 }
 .skill-card img{
  
  
  width: 60px;
  margin: 0 107px 16px 107px;
  background-color: #F95555;
  border-radius: 20px;
 }
 .skill-card h3{
  font-size: 24px;
  font-style: Semi-bold;

 }
 .skill-card p{
  font-size: 16px;
  font-style: regular;
  line-height: 20px;
  margin-top: 16px;
  color: #627382;

 }